#container {
}
#station_container {
    text-align: center;
}
.station {
    cursor: pointer;
    margin: 5px;
    padding: 15px;
    width: 350px;
    display: inline-block;
    border-color: rgba(240, 240, 240, 1);
    border-style: dashed;
    border-radius: 15px;
    background-color: honeydew;
}
.station_image {
    width: 82px;
    border-radius: 30%;
}
.station_play_button {
    font-size: xx-large;
}
#audio_player_container {
}
#audio_player {
    display: none;   
}
#audio_player_status {
    display: inline-block;
    vertical-align: middle;
}
.station_favorit_star {
    width : 48px;
    height : 48px;
    float: right;
}