#container {
    padding: 5px;
}
#station_container {
    text-align: center;
}
.station {
    padding: 15px !important;
    max-width: 434px !important;/* 480px with all margin and padding */
}
.station_image {
    width: 82px;
    border-radius: 30%;
    float: right;
    margin-left: 10px;
}
.station_image_container {
    display: inline-block;
    width: 100%
}
.station_name_and_id {
    clear: both;
    margin-top: 5px;
    font-size: large;
    text-align: center;
}
#audio_player {
    display: none;
}
.common_control {
    cursor: pointer;
    margin: 5px;
    display: inline-block;
    border-color: rgba(240, 240, 240, 1);
    border-style: dashed;
    border-radius: 10px;
    border-width: 3px;
    background-color: honeydew;
    font-size: x-large;
    padding: 5px;    
}
#audio_player_button_stop {   
    display: inline-block;
}
.station_favorit_star {
    width : 48px;
    height : 48px;
    float: left;
}
.tag {
    display: inline-block;
}
.favorit_button_image{
    width : 32px;
    height : 32px;
}
#current_station_count {
    white-space: nowrap;
}