#container {
    padding: 5px;
}
#station_container {
    text-align: center;
}
.station {
    padding: 15px;
    width: 250px;
    height: 130px;
    display: inline-block;    
}
.station_image {
    width: 82px;
    border-radius: 30%;
    float: right;
}
.station_image_container {
    display: inline-block;
    width: 100%
}
.station_name_and_id {
    clear: both;
    margin-top: 5px;
    font-size: large;
}
.station_play_button {
    font-size: xx-large;
}
#audio_player {
    display: none;
}
.common_control {
    cursor: pointer;
    margin: 5px;
    border-color: rgba(240, 240, 240, 1);
    border-style: dashed;
    border-radius: 10px;
    border-width: 3px;
    background-color: honeydew;
    font-size: x-large;
    padding: 5px;    
}
#audio_player_status {
    /*display: inline-block;*/
}
#audio_player_button_stop {   
    display: inline-block;
}
#audio_player_button_ranrom {

}
#audio_player_status_info{

}
.station_favorit_star {
    width : 48px;
    height : 48px;
    float: left;
}
.tag {
    display: inline-block;
}
.favorit_button_image{
    width : 32px;
    height : 32px;
}